@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&family=DM+Sans&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--cor1);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--cor1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--cor3);
}

/*===================================Variaveis cor==================================*/
:root {
    --cor1: #0E091B;
    --cor2: #110E1B;
    --cor3: #134BE8;
}

/*=================================================================================*/

html,
body {
    font-family: Ubuntu, Arial;
    color: white;
    background-color: var(--cor1);
}

/*==================================== Menu =====================================*/
header a {
    color: rgb(163, 162, 162);
    text-decoration: none;
    padding: 30px;
}



#header {
    position: fixed;
    background-color: var(--cor1);
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(114, 114, 126, 0.2);
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu li a {
    transition: .2s;
}

#menu li a:hover {
    color: white
}


#menu a {
    display: block;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn-mobile {
    display: none;
}


/*================================== Fim menu ====================================*/

main {
    overflow: hidden;

}

#apresentacao {
    display: grid;
    position: relative;
    height: 750px;
    overflow: hidden;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    grid-column-gap: 90px;
    grid-template-columns: 1fr 1fr;
}


#apresentacao h1 {
    position: relative;
    font-size: 50px;
    top: 240px;
    left: 20px;
}

.div-ap {
    top: 120px;
}


#btn-i {
    border: 1px solid var(--cor3);
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    padding: 17px;
    width: 220px;
    color: rgba(255, 255, 255, 0.886);
    border-radius: 14px;
    position: relative;
    top: 240px;
    left: 20px;
    cursor: pointer;
    transition: .5s;
    text-align: center;


}

#btn-i:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px var(--cor3);
    box-shadow: inset 0 0 32px var(--cor3), 0 0 32px var(--cor3);
    color: white;
    border: 5px solid var(--cor3);
    width: 310px;
}

#quemSou {

    display: flex;
    position: relative;
    top: 80px;
    justify-content: space-around;
    height: 500px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#quemSou picture {
    overflow: hidden;
}




.div-cs {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:700px) {
    .div-cs {
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
    }
}

#conhecimentos {
    position: relative;
    margin-top: -140px;
}

.cards {

    padding: 15px;
    text-align: center;
    font-size: 13px;
}



.anim:after {
    content: "|";
    margin-left: 8px;
    opacity: 1;
    animation: animate 0.8s linear infinite;
    color: var(--cor3);
}



@keyframes animate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.fundo {
    background-color: var(--cor2);
}


#projetos {
    background-color: var(--cor2);
    height: 800px;
    position: relative;
    top: 130px;
    margin: auto;
    overflow-y: hidden;
}

.animated {
    display: flex;
    margin-top: 100px;
    margin: auto;
}

.grid-layout {
    display: grid;
    max-width: 1500px;
    min-width: 320px;
    grid-row-gap: 100px;
    grid-column-gap: 50px;
    grid-template-areas:
        "pj  pj  pj ";
    margin-top: 50px;
    overflow-y: hidden;
    margin: auto;
    text-align: center;
}




.pj {
    margin: auto;
    background-color: #0E091B;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #6E6C72;
    transition: .5s;
}


.pj img {
    width: 100%;
}

.pj img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1);
}

.pj:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}

#servicos {
    height: 650px;
    margin: auto;
    position: relative;
    top: 180px;
}

.sv {
    margin: auto;
    background-color: var(--cor2);
    max-width: 350px;
    padding: 20px;
}

@media(max-width:999px) {
    #apresentacao {
        display: block;
        height: 800px;

    }

    .div-ap {
        margin: 0 auto;
        text-align: center;
        position: relative;
        right: 18px;
        top: -110px;
        max-width: 100px;
        min-width: 320px;
        overflow: hidden;
        height: 550px;

    }



    .animated {
        position: relative;
        top: -150px;
        max-width: 360px;
        min-width: 300px;

    }

    #header {
        padding: 20px;
    }


    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0;
        background-color: var(--cor2);
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: 800px;
        visibility: visible;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        font-size: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        text-align: center;
        line-height: 90px;
        color: white;
    }

    #btn-mobile {
        margin-top: 8px;
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: black;
    }

    #hamburger {
        border-top: 2px solid;
        width: 35px;
        color: white;
    }

    #hamburger::after,
    #hamburger::before {
        display: block;
        content: '';
        width: 35px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;

    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media(max-width:1100px) {
    .grid-layout {
        grid-template-areas:
            "pj"
            "pj"
            "pj"
    }

    #quemSou img {
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #servicos {
        height: 1550px;
    }

    #projetos {
        height: 1600px;
    }


    #quemSou {
        display: block;
    }

    #conhecimentos {
        margin-top: 100px;
    }

}



@media (max-width:500px) {

    header h1 {
        font-size: 27px;
    }

   


    .anim {
        font-size: 21px;
    }
}